<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rumvision_tracking>
            <general>
                <enabled>0</enabled>
                <site_id></site_id>
                <domain_name></domain_name>
            </general>
        </rumvision_tracking>
    </default>
</config>
